@page
@inject IGetHomeImagePath HomePathGenerator;

@model MainHomeApplication.Pages.IndexModel;

@using System.Security.Claims;
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">      
            <span class="fs-4">Home market</span>
    </header>
</div>
<p>
    @{
        if (PageContext.HttpContext.User.Identity.IsAuthenticated){

            @PageContext.HttpContext.User.FindFirst(ClaimTypes.Email).Value;   
        }
        else
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center"><p>Current user :  ^_^</p></div>
                    <div class="col-12 text-center"><a asp-page="Login">Войти</a></div>
                    <div class="col-12 text-center"><a asp-page="CreateHome">Добавить дом</a></div>
                    <div class="col-12 text-center"><a asp-page="AdminPanel">Панель управления</a></div>
                    <div class="col-12 text-center"><p></p></div>
                    <div class="col-12 text-center"><a asp-page="Registration" class="btn btn-primary">Зарегиться</a></div>
                    <div class="col-12 text-center"><a href="/logout">Выйти</a></div>
                </div>
            </div>
        }
    }
</p>

<div class="homes-grid">
    @foreach (Home home in Model.allHomes)
    {     
        <div class="home-card">
            <p>Адрес: @home.address</p>
            <p>Имя владельца: @home.ownerName</p>
            <img src="@HomePathGenerator.GetImagePath(home)">
        </div>
    }
</div>