@page
@inject IGetHomeImagePath HomePathGenerator;

@model MainHomeApplication.Pages.IndexModel;

@using System.Security.Claims;
<h1>Home Market</h1>
<p>
    Текущий пользователь:
    @{
        if (PageContext.HttpContext.User.Identity.IsAuthenticated){

            @PageContext.HttpContext.User.FindFirst(ClaimTypes.Email).Value;   
        }
        else
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12"><a asp-page="Login">Войти</a></div>
                    <div class="col-12"><a asp-page="CreateHome">Добавить дом</a></div>
                    <div class="col-12"><a asp-page="AdminPanel">Панель управления</a></div>
                    <div class="col-12"><a asp-page="Registration" class="btn btn-primary">Зарегиться</a></div>
                    <div class="col-12"><a href="/logout">Выйти</a></div>
                </div>
            </div>
        }
    }
</p>

<div class="homes-grid">
    @foreach (Home home in Model.allHomes)
    {     
        <div class="home-card">
            <p>Адрес: @home.address</p>
            <p>Имя владельца: @home.ownerName</p>
            <img src="@HomePathGenerator.GetImagePath(home)">
        </div>
    }
</div>